body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(246, 220, 223);
  align-items: center;
  margin: 0%;
  padding: 0%;
}

/*navigation menu*/
.nav {
  text-align: center;
  font-size: 15px;
  word-spacing: 50px;
  padding-bottom: 20px;
  text-transform: lowercase;
  width: 100%;
}

.nav > a {
  text-decoration: none;
  color: white;
}

main {
  width: 60%;
}

#main-header {
  text-align: center;
  padding: 20px;
  font-family: cursive;
  font-size: 150%;
}

/*css for index.html*/
#main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10%;
  margin-left: 30%;;
  width: 40%;
  height: 40%;
}
#welcome {
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  margin-bottom: 20%;
}

#welcome-p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-bottom: 20%;
}

/*css for about.html*/
.header-index {
  /*position: sticky;*/
  top: 0%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 100%;
  background-color: rgb(234, 72, 91);
  font: 20px geneva bold;
}

.section1 {
  text-align: right;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.section2 {
  text-align: left;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.section3 {
  text-align: right;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/*<p> adding height to the paragraphs that contain the images which are set to 200px width + height*/
.p1 {
  text-align: right;
  font-size: 15px;
  font-family: geneva;
  height: 33%;
}

.p2 {
  text-align: left;
  font-size: 15px;
  font-family: geneva;
  height: 33%;
}

.image {
  float: left;
  padding-right: 100px;
  margin-right: 100px;
  width: 25%;
  height: 25%;
}

.image2 {
  float: right;
  padding-left: 100px;
  margin-left: 100px;
  width: 25%;
  height: 20%;
}

/*css for contact.html*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 50%;
  margin-bottom: 20%;
  margin-left: 20%;
  box-sizing: content-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsla(190, 67%, 45%, 0.377);
}

input:hover {
  border-color: hsla(190, 67%, 45%, 0.377);
}

textarea {
  width: 70%;
}

textarea:hover {
  border-color: hsla(190, 67%, 45%, 0.377);
}

/*footer*/
footer {
  /*position: fixed;*/
  left: 0%;
  bottom: 0%;
  text-align: center;
  text-transform: lowercase;
  word-spacing: 70px;
  padding: 20px;
  width: 100%;
  height: 3%;
  background-color: rgb(234, 72, 91);
}

footer > a {
  text-decoration: none;
  color: white;
  font: 18px geneva bold;
}

/* @media max-width 480*/
/*contact page*/
@media screen and (max-width: 480px) {
  .body {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  form {
    width: 80%;
    height: 30%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  textarea {
    width: 100%;
  }
}

/*home page, about page, portolio page*/
@media screen and (max-width: 480px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 20%;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 480px) {
  #header-index {
    width: 80%;
    height: 10%
  }
}

@media screen and (max-width: 480px) {
  #main-image {
  align-content: center;
  margin-top: 40px;
  margin-bottom: 20%;
  height: 20%;
  width: 80%;
  margin-left: 10%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 80%;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: large;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: 40%;
    height: 40%;
    padding-right: 10%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 480px) {
  .image2 {
    width: 40%;
    height: 40%;
    padding-left: 10%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .p1 {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  .p2 {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  footer {
    width: 100%;
    height: 1px;
    font: 1px geneva bold;
    /*position: sticky;*/
  }
}

/* @media min-width 481 and max-width 1024*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
  form {
    width: 80%;
    height: 30%;
    margin-left: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .body {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  textarea {
    width: 100%;
  }
}

/*@media screen and (min-width: 481px) and (max-width: 1024px) {
  footer{
    position:fixed;
  }
}*/

/* @media min-width 1025 and max-width 1680*/
@media screen and (min-width: 1025px) and (max-width: 1680px) {
  .body {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1680px) {
  form {
    width: 80%;
    height: 30%;
    margin-left: 40px;
  }

@media screen and (min-width: 1025px) and (max-width: 1680px) {
  .textarea {
    width: 300%; 
  }
}

@media screen and (min-width: 1025px) and (max-width: 1680px) {
  .footer {
    display: flex;
  }
}